.footer-box{
    position: fixed;
    height: 100px;
    background-color: red;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    
}
.footer-box h2{
    margin-left: 300px;
    text-align: center;
}